<h1>Enter a Puzzle for your Friend to Guess!</h1>
<form action='/puzzle'>
  <div class="form-group">
    <label for="input-puzzle">Enter a phrase</label>
    <input type="text" name="input-puzzle" id="input-puzzle" class="form-action">
  </div>
  <button type="submit" class="btn btn-primary">Make a Puzzle!</button>
</form>
